.sidebar{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    margin: 15px;
}
.step1{
    flex: 1;
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    margin: 15px;
}
.image1{
    width: 23px;
    height: 23px;
}
.text1{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.text-1{
    display: flex;
    padding: 20px;
}
.text2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.step2{
    flex: 1;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    margin: 25px;
    color: rgb(138, 125, 125);
    gap: 15px;
   
}
.se1{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    /* margin: 15px; */
    border-left: 5px solid white;
    padding-left: 10px;
    gap: 13px;
}
.se2{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    border-left: 5px solid white;
    padding-left: 10px;
    gap: 13px;
}
.se3{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.image2{
    width: 20px;
    height: 20px;
    color: rgb(138, 125, 125);
}
.step-1{
    /* font-size: 19px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.step3{
    flex: 1;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    margin: 15px;
    color: rgb(138, 125, 125);
}
.step4{
    flex: 1;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    margin: 15px;
    color: rgb(138, 125, 125);
}

.step5{
    flex: 2;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    margin: 35px;
    color: rgb(138, 125, 125);
}
.se-1{
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgb(138, 125, 125);
}
.solo1{
    display: flex;
    align-items: center;
    margin: 12px;
}
.step6{
    flex: 1;
    display: flex;
    /* border: 1px solid black; */
    margin: 25px;
    flex-direction: column;
    color: rgb(138, 125, 125);
}
.txt1{
    /* color: blueviolet; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
}
.step7{
    flex: 1;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    margin: 25px;
    color: rgb(138, 125, 125);
    
}
.se1:hover{
    border-left: 5px solid black;
    color: black;
}
.se2:hover{
    border-left: 5px solid black;

    color: black;
}
