
.main{
     border: 1px solid #000;
     display: flex;
     width: 100%;
     height: 100vh;

     flex-direction: column;
    
}
.main1{
    flex: 2;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
   
}
.main1-sub0{
    border: 1px solid #000;
   flex: 1;
   border-radius: 5px;
   margin: 5px;
   display: flex;
   align-items: center;
    
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
.nextpayment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.payment{
    width:3rem;
    height: 70%;
   
}



.main1-sub1{
    border: 1px solid #000;
   flex: 1;
   border-radius: 5px;
   margin: 5px;
   display: flex;
   align-items: center;

}











.main2{
    flex: 1;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
}



